h1 {
    font-weight: lighter;
    color: #415E57;
    font-size: 4em;
}

h2 {
    margin-bottom: 30px;
}

h4 {
    font-weight: normal;
    font-size: large;
    color: #415E57;
    background-color: lightblue;
    padding: 8px;
    margin-bottom: 12px;
}

h5 {
    font-weight: bold;
    color: #415E57;
    padding: 20px;
}

.input-group-text {
    background-color: lightblue
}

input[type="search"].light {
    background: #fff;
    width: 280px;
    color: #415E57;
    border: none;
    padding: 6px;
}

.active {
    background-color: #415E57;
}

.rounded-image {
    border-radius: 10px;
    border-color: #7dc4fc;
}

/* modal */
.modal.fade.show.d-block {
    background-color: rgba(20, 20, 20, 0.3); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/*  modalakna sisu */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    --bs-modal-bg: #f2f9ff; /* Modaaliakna taustavärv */
    top: 5%; /* Ülemine paigutus on 5% */
    left: 40%; /* Vasak paigutus on 40% */
    width: 320px;
    transform: translate(-50%, -50%); /* Teisendab X-telje piki -50% võrra */

}

.img-fluid {
    height: 60%;

}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}

input[type='radio'] {
    border-radius: 50%;
    outline: none;
    border: 1px solid blue;
}


.cursor-pointer {
    cursor: pointer;
}