h1 {
    font-weight: lighter;
    color: #415E57;
    font-size: 4em;
}

h5 {
    font-weight: bold;
    color: #415E57;
    padding: 20px;
}

.rounded-image {
    border-radius: 10px;
    border-color: #7dc4fc;
}
